{
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "bracketSameLine": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "htmlWhitespaceSensitivity": "css",
  "singleAttributePerLine": false
}
